body {
  padding-top: 50px;
  padding-bottom: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.homebg{
	/* Free image on: https://www.pexels.com/photo/pine-tree-on-nighttime-70151/ */
	background: url('https://static.pexels.com/photos/70151/pexels-photo-70151.jpeg') no-repeat bottom center fixed;
    background-size: cover;
    color: white;
	text-align: center;
	padding-top: 20%;
	padding-bottom: 15%;
	margin: 0;
}

.enable-pointer .form-control-feedback {
    pointer-events: auto;
    cursor: pointer;
}

#chartContainer{
	margin-top: 20px;
}

.titleDiv{
	border-left: 10px solid #23527C;
}

.date {
	background-color:  #0074D9;
	color: white;
	font-size: 1.5em;
}

.poll{
	margin-bottom: 1%;
}

.deleteButton{
	padding: 0;
}
.deleteButton > i {
	margin: 0;
}

.removeChoiceIcon:hover{
	color: red;
}

.twitterButton{
	background-color: #55acee;
	color: white;
	margin-top: 1%;
}